langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.33
langchain-chroma==0.2.6
langchain-cohere==0.4.6

chromadb
openai
beautifulsoup4
requests
tiktoken
python-dotenv
lxml
sentence-transformers
rank-bm25
cohere

ragas==0.2.15